.container {
  text-align: center;
}

.card {
  max-width: 525px;
  margin: 10px;
}

.users {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.btn-group {
  margin-top: 5%;
  margin-bottom: 5%;
}